<div class="card m-3 p-3">
  <div class="row">
    <select (change)="loadCountries($event.target.value)">
      <option value="">----Select----</option>
      <option *ngFor="let region of regions2$ | async" [value]="region.name">{{
        region.name
      }}</option>
    </select>
    
    <select (change)="loadCountry($event.target.value)">
      <option value="">----Select----</option>
      <option
        *ngFor="let country of countries2$ | async"
        [value]="country.alpha3Code"
        >{{ country.name }}</option
      >
    </select>
  
  {{ country | json }}
  <router-outlet></router-outlet>
</div>
</div>
